/*===================================================================
                 Baseline Styles
====================================================================*/
*, ::after, 
::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  font-size: 62.52%;
  max-width: 100%;  
}
body {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}
input,
textarea {
    outline: none;
}
input::placeholder,
textarea::placeholder {
    color: inherit;
    font-weight: 200;
}
a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}
h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 2.6rem;
}
img {
    max-width: 100%;
}
.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}
.container-fluid {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.col-f {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}
.col-50 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}
.col-40 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
}
.col-4 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}
.col-33 {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
}
.col-30 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
}
.col-70 {
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
}
.l-text {
    font-family: 'Righteous', cursive;
}
.h-text {
    will-change: opacity, transform;
    z-index: 2;
    display: block;
    font-family: 'Raleway', sans-serif;
    padding-top: 18.5%;
    position: relative;
    width: 90rem;
    margin: 0 auto;
}
.btn {
    font-size: 2rem;
    border-radius: 3rem;
    display: inline-block;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: none;
    padding: .7rem 3.4rem;
    border: 1px solid #fff;
    -webkit-transition-property: background,border-color,color;
    transition-property: background,border-color,color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}


/* Loader */
.sh-table {
    display: table;
    width: 100%;
}
.sh-table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none!important;
}
.sh-page-loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 995000;
}
.sh-page-loader {
    background-color: rgba(255,255,255,0.98)!important;
}
.sh-page-loader-style-spinner #loading-center-absolute {
    display: table;
    margin: 0 auto;
}
.sh-page-loader-style-spinner .object {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}
.sh-page-loader-style-spinner .object {
    background-color: #ea1c40!important;
}
@keyframes object_one {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}
.sh-page-loader-style-spinner #object_one {
    -webkit-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite;
}
@keyframes object_two {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}
.sh-page-loader-style-spinner #object_two {
    -webkit-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}
@keyframes object_three {
    75% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
}
.sh-page-loader-style-spinner #object_three {
    -webkit-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}




/*Animation effects*/
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
    opacity: 0;
}
.animate__animated {
    opacity: 1;
}
.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}




/* Box Effects */
.effect5
{
    -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    -moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.effect4 {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.effect3 {
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

/* Scroll to Top */
.up-btn {
    border-radius: 50%;
    background: rgba(234,28,64,.7);
    margin: 0 auto;
    color: #fff;
    font-size: 2.7rem;
    text-align: center;
    display: none;
    position: fixed;
    right: 3rem;
    bottom: 4rem;
    z-index: 100;
    width: 5.4rem;
    height: 5.4rem;
    transition: all 0.3s ease-in-out;
}
.up-btn i {
    position: absolute;
    top: 12px;
    left: 15px;
}
.up-btn:hover {
    color: #fff;
    background: rgba(234,28,64);
    text-decoration: none;
}

/* Pre-loader */
.prenone {
    display: none;
    z-index: -9999;

}
.preloader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: white;
}
.preloader img {
    position: absolute;
    top: calc(50% - 133px);
    left: calc(50% - 133px);
    vertical-align: middle;
    border: 0;
}





/*===================================================================
                 Navigation Bar
====================================================================*/
#main-nav {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    padding: .8rem 0;
    background: #fff;
    -webkit-transition: 300ms all cubic-bezier(.4,0,.2,1);
    transition: 300ms all cubic-bezier(.4,0,.2,1);
}
.mob-menu {
    display: none;
}
.desk-menu {
    display: block;
}
#main-nav.fixed-solid--nav {
    background: #fff;
    padding: 0;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    -moz-box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
#main-nav.transparent-header.open,
#main-nav.fixed-solid--nav.open {
    background: #fff;
}
#main-nav.transparent-header, 
.transparent-header #main-nav {
    background: 0 0;
}
.btm-brd {
    padding-top: .1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#main-nav .container-fluid {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: flex-end;
}
#main-nav .logo {
    position: absolute;
    left: 0;
    margin-top: 1rem;
}
#main-nav.transparent-header .logo{
    top: 31;
}
#main-nav.fixed-solid--nav .logo{
    top: 17;
}
#main-nav.transparent-header.open .logo a {
    color: #232323;
}
.logo a {
    color: rgb(241, 240, 240);
    margin: 0;
    letter-spacing: .3rem;
    margin-left: 2rem;
    opacity: 1; 
    -webkit-transition: 300ms all cubic-bezier(.4,0,.2,1);
    transition: 300ms all cubic-bezier(.4,0,.2,1);
    font-size: 2.6rem;
    max-height: 5rem;
    width: 6rem;
}
.logo span {
    color: #ea1c40;
}
#main-nav.fixed-solid--nav .logo a{
    color: #232323;
}
nav a.menu-item {
    font-size: 1.28rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.7;
}
#main-nav nav {
    margin-right: .8rem;
}
#main-nav nav > ul {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
}
#main-nav nav > ul li {
    position: relative;
    padding: 0 1.5rem;
}
#main-nav nav > ul li,
#main-nav nav > ul a {
    margin: 0;
}
#main-nav.transparent-header a.menu-item,
.transparent-header #main-nav a.menu-item {
    color: #fff;
    opacity: .6;
}
#main-nav a.menu-item:hover {
    color: #fff;
    opacity: 1;
}
#main-nav.fixed-solid--nav a.menu-item:hover {
    color: #232323;
}
#main-nav.fixed-solid--nav nav a.menu-item {
    margin: 2.1rem 0;
}
#main-nav nav a.menu-item {
    color: rgba(32,41,47,.6);
    margin: 3.1rem 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
#main-nav.transparent-header a.menu-item.btn
{
    border: 1px solid #fff;
    opacity: 1;
}
#main-nav.fixed-solid--nav a.menu-item.btn-red {
    background-color: #232323;
    background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
    color: #fff;
    border: none;
}
#main-nav a.menu-item.btn-red:hover,
#main-nav a.menu-item.btn:hover {
    color: #fff;
    background-image: none;
    background-color: #ea1c40;
    border-color: #ea1c40;
}

#main-nav .hamburger {
    display: none;
    border-radius: 3px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#main-nav.fixed-solid--nav .hamburger span {
    background: #ea1c40;
}
#maing-nav.transparent-header .hamburger span {
    background: #fff;
}
#main-nav .hamburger span:nth-child(2) {
    margin: 4px 0;
}
#main-nav .hamburger span {
    display: block;
    background: #ea1c40;
    width: 24px;
    height: 3px;
    border-radius: 3px;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 300ms all cubic-bezier(.4,0,.2,1);
    transition: 300ms all cubic-bezier(.4,0,.2,1);
}
#main-nav .hamburger.toggled span:nth-child(2) {
    opacity: 0;
}
#main-nav .hamburger.toggled span{
    background: #343434;
}
#main-nav .hamburger.toggled span:last-child {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}
#main-nav .hamburger.toggled span:first-child {
    -webkit-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg);
}




/*===================================================================
                 Hero Carousel
====================================================================*/
.hero {
    padding: 0;
    width: 100%;
    text-align: center;
}
.hero .overlay-blue::after {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    content: '';
    z-index: 1;
    background-color: #191636;
    opacity: .35;
}
.hero .overlay-black::after {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    content: '';
    z-index: 1;
    background-color: rgb(14, 12, 12);
    opacity: .7;
}
.h-img {
    background: url(/akrdesigns/assets/media/gen-ver/hero-img.jpg) no-repeat bottom right;
}
.h-img1 {
    background: url(/akrdesigns/assets/media/gen-ver/hero-img1.jpg) no-repeat center center;
}
.h-img2 {
    background: url(/akrdesigns/assets/media/gen-ver/hero-img2.jpg) no-repeat top left;
}
.h-img3 {
    background: url(/akrdesigns/assets/media/gen-ver/hero-img3.jpg) no-repeat bottom right;
}
.bg-cover {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}
.h-text .header {
    font-size: 11.5rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
}
.h-text .subtext {
    position: fixed;
    display: block;
    letter-spacing: 3rem;
    font-size: 7.3rem;
    position: absolute;
    padding-top: 1rem;
    left: 230;
    font-family: 'Poppins', sans-serif;
    color: #4378c6;
    text-transform: uppercase;
    font-weight: 100;
}
.h-text .l-text {
    font-size: 5.8rem;
    padding: 0 2rem;
    font-family: 'Cormorant Garamond', serif ;
    color: #ad4d4d;
    letter-spacing: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    position: absolute;
    bottom: -160;
    left: 140;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
}
.h-text .subtext2 {
    font-size: 10rem;
    color: rgba(255,255,255,.9);
    text-transform: lowercase;
    font-weight: 600;
    letter-spacing: .4rem;
}
.h-text  .header2{
    display: block;
    letter-spacing: .9rem;
    font-size: 6rem;
    color: #ec2513;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    height: 6rem;
}
div.mouse-container {
    z-index: 5;
    position: absolute;
    bottom: 0;
    right: 9%;
    display: block;
    height: 50px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
div.mouse {
    position: relative;
    display: block;
    width: 20px;
    height: 30px;
    margin: 0 auto;
    border: solid 1px #fff;
    border-radius: 8px;
}
@keyframes scroll-inner {
    0% {
        margin-top: 15%;
        opacity: 1;
    }
    100% {
        margin-top: 75%;
        opacity: 0;
    }
}
div.mouse span.scroll-down {
    display: block;
    width: 4px;
    height: 4px;
    margin: 15% auto auto;
    -webkit-animation: scroll-inner 1.5s;
    animation: scroll-inner 1.5s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 50%;
    background: #fff;
}




/*===================================================================
                 About Section
====================================================================*/
.about-us {
    margin: 0 auto;
    padding-top: 13rem;
    padding-bottom: 14rem;
    background-color: rgb(243, 243, 241);
}
.about-us img {
    margin-left: 3rem;
    opacity: .8;
    width: 98%;
}
.s-text {
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: .9rem;
    font-size: 11.4rem;
    padding-right: 15rem;
    border-bottom: 2px solid #fff;
    color: #ea1c40;
}
.s-subtext {
    font-weight: 100;
    text-transform: capitalize;
    font-size: 5.5rem;
    padding-bottom: 5.5rem;
    color: #232323;
}
.about-us p {
    color: #884d4d;
    font-size: 1.8rem;
    padding-bottom: 4rem;
    font-weight: 300;
    line-height: 1.8;
}
.counter-bg {
    width: 100%;
    background-color: rgb(243, 243, 241);
    padding-bottom: 14rem;
}
.counter {
    text-align: center;
    padding: 12rem 0;
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
}
.counter-item {
    border-left: 1px solid rgb(208, 163, 163);
}
.counter .no-br {
    border: 0;
}
.counter_num {
    font-weight: 200;
    font-size: 5rem;
    padding-bottom: 1rem;
    color: #666;
}
.counter p {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #000;
}
.vid-tour {
    position:relative;
    background-color: #151515;
    width: 100%;
    height: 100%;
    height: auto !important;
    background-size: cover;
    background-position: center;
}
.media-column {
    background: url(/akrdesigns/assets/media/gen-ver/vid.jpg) no-repeat center center;
}
.hero-content {
    text-align: center;
    position: relative;
    width: 6.6rem;
    height: 6.6rem;
    border-radius: 50%;
    top: 42%;
    left: 46%;
    border: none;
    cursor: pointer;
    background-color: #232323;
}
.hero-content:hover {
    background-color: #ff6665;
}
.player-icon .material-icons {
    position: absolute;
    color: #fff;
    top: 3.35rem;
    transform: translate(-50%, -50%);
    font-size: 3.8rem;
}
.vid-text {
    text-align: left;
    padding: 10rem 9.5rem;
}
.vid-text h2 {
    color: #fff;
}
.vid-text p.lead {
    color: #e4dede;;
    font-size: 1.73rem;
    line-height: 1.4;
    font-weight: 300;
}
.vid-text p {
    color: #999;
    line-height: 1.8;
    font-size: 1.4rem;
    margin: 0 0 3rem;
}



/*===================================================================
                 Project Section
====================================================================*/
.works {
    padding: 13rem 0 6.5rem;
}
.works p {
    color: #999;
    font-size: 1.5rem;
    padding-right: 8rem;
    line-height: 1.8;
}
.w-text {
    margin-bottom: 8rem;
}
.works .main {
    color: #f9f9f9;
}
.works .container {
    width: 100%;
    position: relative;
}
.main > p {
    text-align: center;
    padding: 50px 20px;
}
.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}
.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}
.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}
.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}
.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}
.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}
.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}
.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}
.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}
.og-details {
	padding: 0 40px 0 20px;
}
.og-fullimg {
	text-align: center;
}
.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}
.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
    text-transform: capitalize;
}
.og-details p {
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	color: #999;
    padding-left: .5rem;
}
.og-details a {
	font-weight: 400;
	font-size: 16px;
	color: #e75069;
    border-radius: 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 11.5px 20px;
	border: 1px solid rgb(255, 255, 255);
	display: inline-block;
	margin: 30px 8px 0;
	outline: none;
}
.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}
.og-details a:hover {
	border-color: #999;
	color: #999;
}
.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}
@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}
@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}
@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}





/*===================================================================
                 Blog Section
====================================================================*/
.blog {
    padding: 13rem 0 0;
    background-color: #fafafa;
}
.blog .col-70 {
    text-align: right;
    padding-top: .67rem;
    margin-bottom: 5rem;
}
.blog .col-70 h5 {
    font-size: 1.3rem;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.blog .col-30 h2 {
    margin-bottom: 4rem;
}
.blog .col-33 {
    transition: all .3s ease-in-out;
}
select#inputArticle-Sort {
    font-size: 1.28rem;
    width: 300px;
    padding-bottom: .3rem;
    outline: none;
    color: #948787;
    border: 0;
    letter-spacing: .1rem;
    background-color: #fafafa;
    border-bottom: 2px solid #ea1c40;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    transition: all 300ms;
}
.article-post {
    margin: 2rem 1rem 4rem;
}
.article-image {
    position: relative;
    overflow: hidden;
    height: 225px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 105%;
  }  
.img-colorise img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
} 
.img-colorise:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
}
.blog .featured-tag {
    font-size: 1.3rem;
    position: absolute;
    z-index: 9;
    bottom: 10px;
    left: 10px;
    padding: .43rem .87rem;
    color: #fff;
    background-color: #ea1c40;
    border-radius: 2rem;
}
.blog .overlay::after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: background-color 300ms;
    transition: background-color 300ms;
    background-color: rgb(66 54 54 / 60%);
}
.blog figcaption h4 {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    padding: 1.3rem 1rem 1.4rem 0;
    color: #232323;
}
.blog figcaption .material-icons{
    position: relative;
    bottom: -6px;
    left: -13px;
    font-size: 2.3rem;
    color: #ec2513;
    font-weight: 100;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    opacity: 0;
}
.article-post:hover .material-icons {
    opacity: 1;
    left: -3px;
}
.blog p {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-bottom: 2rem;
    color: #884d4d;
}
.blog .article-footer {
    padding-top: 1.3rem;
    border-top: solid 1px #d0b9bd;
}
.blog .article-footer li {
    font-size: 1.3rem;
    display: inline-block;
}
.blog .article-comments {
    color: #6d5454;
    float: right;
}
.blog .article-category a{
    color: #ea1c40;
}
.blog .col-f {
    text-align: center;
    padding-bottom: 12rem
}
.blog .btn {
    border: 1px solid #ea1c40;
    margin-top: 4rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    cursor: pointer;
    letter-spacing: .2rem;
    color: #232323;
    padding: .8rem 2.7rem;
}
.blog .btn:hover {
    color: #fff;
    background: #ff6665;
    border: 1px solid #eee;
}
.col-f.subscribe {
    padding: 14rem 0;
    background: url(/akrdesigns/assets/media/gen-ver/subscribe-1.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed; 
}
.subscribe-text i {
    margin-right: 1rem;
}
.subscribe h4 {
    color: #fff;
    font-size: 4.5rem;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 2rem;
    letter-spacing: .3rem;
    font-weight: 300;
}
.subscribe input.btn {
    color: #ff6665;
    background-color: rgb(247 243 243);
    width: 9.6rem;
    left: -23px;
    top: -3px;
    position: relative;
    border: 1px solid rgb(255, 255, 255);
    line-height: 1.8;
    border-radius: 0.9rem;
    padding: 1.6rem;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}
.subscribe .btn:hover {
    border: 1px solid #ff6665;
    color: #ffffff;
}
.subscribe input {
    color: rgb(255, 255, 255);
    padding: 1.8rem;
    width: 38%;
    border-radius: 0.9rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background: none rgba(185, 183, 183, 0.3);
    border: 1px solid rgb(140, 140, 140);
    font-size: 2.2rem;
    margin: 2rem 0;
}
.subscribe input:focus {
    background-color: rgb(0 0 0 / 50%);
}





/*===================================================================
                 Crew Section
====================================================================*/
.crew {
    padding: 13rem 0 10rem;
    background-color: #fafafa;
}
.team.container-fluid {
    max-width: 85%;
}
.crew .text {
    color: #000;
    font-size: 4rem;
    margin-bottom: 8rem;
}
.team-item {
    height: 480px;
    position: relative;
    z-index: 1;
    margin: 0 1rem;
    margin-bottom: 2rem;
    background-size: cover;
}
.team-item::after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 0.87);
    content: "";
    z-index: -1;
    opacity: 0;
    -webkit-transition: all, 0.5s, ease-out, 0.5s;
    -o-transition: all, 0.5s, ease-out, 0.5s;
    transition: all, 0.5s, ease-out, 0.5s;
}
.team-text {
    height: 100%;
    position: relative;
    padding: 3.2rem 2.5rem 3.7rem;
}
.team-title {
    position: absolute;
    left: 0;
    bottom: 4rem;
    width: 100%;
    padding: 0 3rem;
    -webkit-transition: all, 0.7s, ease-out, 0.7s;
    -o-transition: all, 0.7s, ease-out, 0.7s;
    transition: all, 0.7s, ease-out, 0.7s;
}
.team-item:hover .team-title {
    border-bottom: 1px solid rgba(183, 183, 183, 0.2);
    padding: 0 0 3rem;
    margin-bottom: 3.2rem;
    opacity: 0;
    visibility: hidden;
    position: relative;
    bottom: initial;
    opacity: 1;
    visibility: visible;
}
.team-title h5 {
    color: #fff;
    font-weight: 600;
    margin-bottom: .4rem;
    font-size: 1.9rem;
}
.team-title span {
    font-size: 1.4rem;
    color: #ea1c40;
}
.team-text p {
    font-size: 1.49rem;
    font-weight: 400;
    line-height: 1.8;
    margin: 0 0 1.2rem 0;
    color: #b7b7b7;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.5s, ease-out, 0.5s;
    -o-transition: all, 0.5s, ease-out, 0.5s;
    transition: all, 0.5s, ease-out, 0.5s;
}
.team-item:hover .team-text p {
    opacity: 1;
    visibility: visible;
}
.team-social {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 3rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all, 0.5s, ease-out, 0.5s;
    -o-transition: all, 0.5s, ease-out, 0.5s;
    transition: all, 0.5s, ease-out, 0.5s;
}
.team-item:hover .team-social {
    opacity: 1;
    visibility: visible;
    bottom: 3.2rem;
}
.team-social a {
    display: inline-block;
    font-size: 2.1rem;
    color: #ffffff;
    margin-right: 3.2rem;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}
.team-social a:hover {
    color: #ad4d4d;
}
.team-item:hover::after {
    opacity: 1;
}





/*===================================================================
                 Hire Us Section
====================================================================*/
#contact {
    padding: 13rem 0 10rem;
}
.hire-us {
    background: url(/akrdesigns/assets/media/gen-ver/hire-us-img.jpg) no-repeat top center;
    background-size: cover;
}
.hire-content {
    background: #fff;
    width: 37.95%;
    height: auto;
    margin-left: 5rem;
    padding: 4rem;
    color: #666;
}
.hire-content p.lead {
    font-size: 2.016rem;
    font-weight: 200;
    line-height: 1.5;
}
.hire-content p {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    line-height: 1.8;
    font-weight: 300;
}
.hire-content a.btn {
    background-color: #558579;
    color: #eee;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5rem;
    letter-spacing: .1rem;
}
.hire-content a.btn:hover {
    background-color: #000;
    color: #fff;
}
.contact-info {
    padding: 8rem 0 13rem;
}
.contact-info .c-text {
    text-align: center;
    width: 100%;
}
.c-text h4 {
    color: #343434;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 2.8rem;
}
.c-text p {
    color: #999;
    font-size: 2.3rem;
    font-weight: 200;
    line-height: 1.3;
    padding: 0 32rem;
}
.c-form {
    width: 84%;
    margin: 6rem auto;
}
.c-form .col-50,
.c-form .col-f {
    padding-right: 1rem;
}
.c-form input {
    color: #666;
    width: 100%;
    border: 1px solid #f3f3f3;
    padding: 1.6rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.c-form textarea{
    width: 100%;
    color: #666;
    border: 1px solid #f3f3f3;
    overflow: hidden;
    resize: none;
    height: 23rem;
    padding: 2rem;
    font-size: 1.4rem;
}
.c-form .btn {
    color: #fff;
    background-color: #558579;
    letter-spacing: .1rem;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: .7rem 2.6rem;
    font-weight: 200
}
.c-form .btn:hover {
    background: #87d6c2;
}




/*===================================================================
                 Footer Section
====================================================================*/
.footer {
    padding-top: 9rem;
    margin: 0;
    padding-bottom: 3rem;
    background-color: #232323;
    background-image: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
}
.footer p {
    color: #b7abab;
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 1.8;
    padding-right: 7rem;
}
.footer-top .row {
    padding-bottom: 2rem;
}
.footer-top .logo {
    margin-bottom: 2rem;
}
.footer-top .logo a{
    color: #fff;
    margin-left: 0;
    font-size: 2.6rem;
}
.footer_social {
    margin-bottom: 2rem;
}
.footer_social a {
    margin-right: 1.2rem;
    text-align: center;
    color: #fff;
    height: 4rem;
    font-size: 1.6rem;
    width: 4rem;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background: rgba(255, 255, 255, .1);
}
.footer_social i {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
}
.footer_social a:hover {
    color: #c86666;
}
.footer-top .links {
    padding: 0 10rem;
}
.footer-top h4 {
    font-size: 1.5rem;
    margin: 1rem 0 1.6rem;
    font-weight: 500;
    margin-top: 1rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .2rem;
}
.footer-top .menu li {
    padding: 0.7rem 0;
}
.footer-top .menu a {
    color: #d2baba;
    font-size: 1.3rem;
}
.footer-top .menu a:hover {
    color: #602727;
}
.footer-top address {
    font-family: 'Raleway', sans-serif;
    color: #783e3e;
    font-size: 1.35rem;
    line-height: 1.8;
    margin-bottom: 2rem;
}
.footer-top p a {
    color: rgb(235 221 221);
}
.add {
    padding: 0 4rem;
}
.footer-down .row {
    padding-top: 1rem;
    border-top: 1px solid #c4acac;
    color: #b7abab;
}
.footer-down a:hover {
    color: #fff;
}
.footer-down .right,
.footer-down .right p{
    color: #783e3e;
}
